
/* Example Styles for React Tags*/
#app {
    padding: 40px;
  }
  
  div.ReactTags__tags {
      position: relative;
  }
  
  /* Styles for the input */
  div.ReactTags__tagInput {
      display: inline-block;
      align-items: right !important;
    
  }

  :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

  div.ReactTags__tagInput input.ReactTags__tagInputField,
  div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    border-radius: 10px;
      height: 31px;
      font-size: 16px;
      width: 200px;
    margin-top: 15px;
border-width: 1px;

  }
  
  /* Styles for selected tags */
  div.ReactTags__selected span.ReactTags__tag {
      background: #eee;
      font-size: 16px;
      display: inline-block;
      padding: 5px;
      margin: 0 5px;
      cursor: move;
      border-radius: 5px;
  }
  div.ReactTags__selected a.ReactTags__remove {
      color: #aaa;
      margin-left: 5px;
      cursor: pointer;
  }
  
  /* Styles for suggestions */
  div.ReactTags__suggestions {
      position: absolute;
  }
  div.ReactTags__suggestions ul {
      list-style-type: none;
      box-shadow: .05em .01em .5em rgba(0,0,0,.2);
      background: white;
      width: 200px;
  }
  div.ReactTags__suggestions li {
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;
      margin: 0;
  }
  div.ReactTags__suggestions li mark {
      text-decoration: underline;
      background: none;
      font-weight: 600;
  }
  div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
      background: #b7cfe0;
      cursor: pointer;
  }